
#main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #card{
    border: 2px solid transparent;
    padding: 10px;
    margin: 10px;
    max-width: 250px;
    text-align: left;
  }
  
  #card:hover{
    border: 2px solid gray;
  
  }