#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#purple{
    background-color: purple;
}

#red,
#blue,
#green,
#yellow,
#purple
{   
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px;
}