#mother-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#child-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around

}   